<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>

        <!-- Main CSS File -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
     </head>
    <body>
        <h2>Please enter your details to register for assignment submission</h2>
        <!-- form begins -->
        <form id="form" method="post" action="{{ url_for('login') }}">

            <div class="form-control">
                <label for="email">Email</label><br>
                <input type="text" name="email" id="email" placeholder="Enter your Email id"><br>
            </div>

            
            <div class="form-control">
                <label for="pwd">Password</label><br>
                <input type="password" name="pwd" id="pwd" placeholder="Please set your password"><br>
            </div>

            <div class="form-control">
                <button type="submit" class="btn btn-success">Login</button>
            </div>


        </form>
        <!-- form end -->
        <h2>{{msg}}</h2>
    </body>
</html>